<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <h2>Adams Medical Care</h2>
        <h3>
          Adams Primary Care is a medical group practice located in
          Danielsville, GA that specializes in Nursing (Nurse Practitioner) and
          Family Medicine.
        </h3>
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <p>
          Our mission at Adams Primary Care is to promote the well-being and
          longevity of our patients through accessible, high-quality healthcare
          services. We strive to foster a supportive environment where patients
          feel valued, heard, and empowered in their healthcare journey.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>We offers a holistic approach to
            healthcare.
          </li>
          <li>
            <i class="ri-check-double-line"></i>Whether you require routine check-ups, preventive care, or management of chronic conditions.
          </li>
          <li>
          <i class="ri-check-double-line"></i> Our skilled team is here to
            provide comprehensive and tailored solutions to meet your unique
            needs.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
