<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h3>Adams Primary Care</h3>
          <p>ADAMS PRIMARY CARE, PC- 25 NOMORA DRIVE, DANIELSVILLE, GA 30633</p>
        </div>
      </div>

      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6">
          <form action="" method="post">
            <input
              type="email"
              name="email"
              placeholder="Enter your Email"
            /><input type="button" value="Subscribe" />
          </form>
        </div>
      </div>

      <div class="social-links"></div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Adams Primary Care</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->
