<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right">
          <h2>Services</h2>
          <p>
            Comprehensive Primary Healthcare Services Tailored to Your Needs
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="#cta"> Primary Care Services</a></h4>
              <p>
                Our primary care services cover a wide range of medical needs,
                including preventive care, routine check-ups, vaccinations, and
                screenings.
              </p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="#cta">Family Medicine</a></h4>
              <p>
                Our family medicine specialists provide comprehensive healthcare
                for individuals of all ages, from infants to seniors, ensuring
                that every member of your family receives personalized care.
              </p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="#cta"> Nursing (Nurse Practitioner) Services</a></h4>
              <p>
                Our skilled nurse
                practitioners offer specialized care and support, including
                health assessments, patient education, and management of acute
                and chronic illnesses.
              </p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="#cta">Chronic Disease Management</a></h4>
              <p>
                We provide specialized care and support for chronic conditions
                such as diabetes, hypertension, asthma, and more, helping
                patients effectively manage their health and improve their
                quality of life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
